[data-melt-calendar] {
  display: flex;
  margin: 0 auto 1rem;
  padding: 1rem;
  background-color: var(--blue-500);
  border-radius: 1rem;
}

header {
  display: flex;
}

header div {
  color: var(--blue-200);
}

header button {
  color: var(--blue-200);
}

[data-melt-calendar-prevbutton] {
}

[data-melt-calendar-nextbutton] {
}

[data-melt-calendar-heading] {
}

table {
  display: flex;
}

table,
table * {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 100%;
}

thead {
  display: none;
}

tbody,
tr,
td {
  display: contents;
}

th {
}

th div {
}

[data-melt-calendar-grid] {
}

[data-melt-calendar-cell] {
}

[data-melt-calendar-cell][data-outside-month="true"][data-outside-visible-months="true"] {
}

[data-today] {
  background-color: var(--blue-300);
}

[aria-selected] {
  background-color: var(--orange-500);
  color: #fff;
}

[data-weekend] {
  opacity: 0.5;
  color: var(--blue-200);
}

td button {
  display: block;
  appearance: none;
  border: 0;
  color: inherit;
  padding: 0.25rem;
  line-height: 1;
  min-width: 1.5rem;
  border-radius: 0.75rem;
  font-weight: 700;
  text-align: center;
}
