li {
  display: block;
}

h3 {
  display: flex;
  font-size: 1rem;
  margin: -0.25rem 0 1rem;
  justify-content: space-between;
  color: var(--blue-800);
}

h3 button {
  color: var(--blue-200);
}

.customers {
  display: grid;
  gap: 1.5rem;
}

.projects {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3.1rem;
}

.projects span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.project {
  position: relative;
}

.project button {
  position: absolute;
  bottom: 0.15rem;
  right: 0.15rem;
  padding: 0.25rem;
  display: grid;
  opacity: 0;
  user-select: none;
  z-index: 2;
  background: var(--blue-700);
  border-radius: 0.6rem;
  color: #fff;
}

.project svg {
  display: block;
  margin: auto;
}

.project:hover button:hover {
  opacity: 1;
  user-select: auto;
}
